<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/6c1814b2-3ff0-4b14-8ca2-8d1100fad834/resourceGroups/Fall2024-Assignment3-separal/providers/Microsoft.Web/sites/Fall2024-Assignment3-separal</ResourceId>
    <ResourceGroup>Fall2024-Assignment3-separal</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://fall2024-assignment3-separal.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://fall2024-assignment3-separal.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$Fall2024-Assignment3-separal</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>