/* Navbar specific styles */
.navbar {
   background-image: url('/popcorn.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

    .navbar .btn-primary {
        color: #fff;
        background-color: #ffeb3b; /* Light yellow color */
        border-color: #fdd835; /* Slightly darker yellow for the border */
    }

    .navbar .nav-pills .nav-link.active,
    .navbar .nav-pills .show > .nav-link {
        color: #fff;
        background-color: #1b6ec2;
        border-color: #1861ac;
    }

/* General styles */
body {
    background-color: #0000; /* Set a default background color for the body */
    height: 100vh;
    margin: 0;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

h1, h2, h3, h4, .navbar-brand {
    font-family: 'Pacifico', cursive;
}
